{% extends "event.html" %}

{% block title %} Dashboard {% endblock %}
</head>

{% block body %}
{% if logged_in %}

<center><b><h1 style="color:#5cb85c;"> Event List</h1> </b> </center>
<br>

<form action="/refresh/" method="POST">
    <center>
      <div class="btn-group" role="group">
        <input class="btn btn-primary btn-lg btn-success" type="submit" name="type" value="Refresh Events">
        <input class="btn btn-primary btn-lg btn-success" type="submit" name="type" value="Refresh Artists">
        
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-lg btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Sort By
               <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
		<li><a href="/home/status">Going/Interested/Neither</a></li>
		<li><a href="/home/date">Chronological</a></li>
            </ul>
        </div>


    </center>
    </div>
</form>

<br>
<br>

{% for event in event_list %}
<div class="container">

    <div class="jumbotron">
        <h3><a href="/event/{{ event['id'] }}" style="color:#5cb85c;">{{ event['event-name'] }}</a></h3>
        <p><h4>
            Date: {{ event['date'] }} 
            <br>

            Artist: {{ event['artist']  }}
            <br>

           <p align="right"> Status: {{ event['status']}} </p>

        </h4></p>



    </div>
    <br>
</div>
{% endfor %}


<br>

{% else %}
<center><a href="{{ auth_url }}">Log In With Spotify</a></center>
{% endif %}
{% endblock %}

