<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>

    <body>
        {% if logged_in %}
	    <h4>Event List</h4>
        <ul>
	    {% for event in event_list %}
        <li>{{ event }}</li>
        {% endfor %}
        </ul>
        <br>
        <form action="/logout/" method="POST">
            <input type="submit" name="type" value="Log Out">
         </form>
        {% else %}
            <a href="{{ auth_url }}">Log In With Spotify</a>
        {% endif %}
    </body>
</html>
