<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>

    <bodY>
        {% if logged_in %}
            <h4>Saved Tracks Dict</h4>
            <ul>
                {% for track_id in trackid_dict %}
                <li>{{ trackid_dict[track_id][0] }} - {{ trackid_dict[track_id][1] }}</li>
                {% endfor %}
            </ul>
            <h4>Top N Artists</h4>
            <ol>
                {% for artist in top_n_artists %}
                <li>{{ artist }} - {{ top_n_artists[artist] }}</li>
                {% endfor %}
            </ol>
	    <h4>Event URLs: Single Artist</h4>
	    <ol>
	      {% for link in event_urls %}
	      <li><a target="_blank" href={{ link }}>{{ link }}</a></li>
	      {% endfor %}
	    </ol>
        {% else %}
            <a href="{{ auth_url }}">Log In With Spotify</a>
        {% endif %}
    </body>
</html>
